<body class="text-center">
  <form class="form-signin" [formGroup]="login" (ngSubmit)="Verificar()">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
      height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="correo" class="form-control" formControlName="correo" placeholder="Email address">
    <div *ngIf="login.controls['correo'].invalid && (login.controls['correo'].dirty || login.controls['correo'].touched)" class="alert alert-danger">

      <div *ngIf="login.controls['correo'].errors?.required">
        Name is required.
      </div>
      <div *ngIf="login.controls['correo'].errors?.email">
        Maincra :v
      </div>
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
    <div *ngIf="login.controls['password'].invalid && (login.controls['password'].dirty || login.controls['password'].touched)" class="alert alert-danger">

      <div *ngIf="login.controls['password'].errors?.required">
        Hola :3
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</body>