<div style="overflow-y: auto; height: 100%;">
    <h1 class="info"><b>Mi Información</b></h1>
    <table class="table" style="border-color: white;">
        <tbody>
            <tr>
                <td> <b>Nombre: </b>{{estudiante.nombre}}</td>
                <td><b>Apellido: </b>{{estudiante.apellido}}</td>
                <td><b>Correo: </b>{{estudiante.correo}}</td>
            </tr>
            <tr>
                <td><b>Telefono: </b>{{estudiante.telefono}}</td>
                <td><b>Dirección: </b>{{estudiante.direccion}}</td>
                <td><b>Genero: </b>{{estudiante.genero}}</td>
            </tr>
            <tr>
                <td><b>Tipo de Identificación: </b>{{estudiante.tipo}}</td>
                <td><b>Identificación: </b>{{estudiante.identificacion}}</td>
                <td><button class="btn btn-primary" (click)=editar()>Editar Informacion</button></td>
            </tr>
        </tbody>
    </table>


    <br>
    <h2 class="info"><b>Todas mis matriculas</b></h2>
    <p-table [value]="matriculas" dataKey="codigo">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon>
                </th>
                <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon>
                </th>
                <th pSortableColumn="creditosTotales">Creditos <p-sortIcon field="creditosTotales"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-matricula let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="matricula"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{matricula.periodo}}</td>
                <td>{{matricula.fecha}}</td>
                <td>{{matricula.creditosTotales}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-matricula>
            <tr>
                <td colspan="4">
                    <div class="p-p-3">
                        <p-table [value]="matricula.detalles" dataKey="nrc">
                            <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nrc">NRC <p-sortIcon field="nrc"></p-sortIcon>
                </th>
                <th pSortableColumn="materia">Materia <p-sortIcon field="materia"></p-sortIcon>
                </th>
                <th pSortableColumn="creditos">Creditos <p-sortIcon field="date"></p-sortIcon>
                </th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detalle>
            <tr>
                <td>{{detalle.nrc}}</td>
                <td>{{detalle.materia}}</td>
                <td>{{detalle.creditos}}</td>
                <td><span [class]="'detalle-' + detalle.estado.toLowerCase()">{{detalle.estado=='APR' ? "APROBADO" :
                    detalle.estado=='REP' ? "REPROBADO" : "CURSANDO" }}</span></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">There are no order for this matricula yet.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>